#profileDisplayName
{
    padding:20px;
    font-size: 42px;
    color: black;
    border-radius: 50px;
    margin: 0;
}

#profileDescription
{
    margin: 0 0 0 20px; 
    font-style:italic; 
    font-size: 26px;
}

#profileInfo{
    background-color: white;
    align-items: center;
}

div.container{
    width: 100%;
    min-height: 430px;
}

div.recipeList{
    margin-left: 80px;
    margin-right: 80px;
}

#friendsBtn{
    margin-left: 100px;
    margin-right: auto;
}

#deleteFriendBtn{
    margin-left: 20px;
    margin-right: auto;
}

div.recipeList > a.Tile > img{
    outline-color: #24d95e;
}

div.topNav > button:hover{
    background-color: whitesmoke;
}



