#profileInfo{
    background-color: white;
    align-items: center;
    flex-wrap: wrap;
}

#profileInfo > div > h1{
    overflow-wrap: break-word;
    max-width: 270px;
}

#profileDisplayName
{
    padding:20px;
    font-size: 42px;
    color: black;
    margin: 0;
}

div.css-container{
    min-height: 440px;
}

div.css-recipeList{
    margin-left: 80px;
    margin-right: 80px;
}

#friendsBtn{
    margin-left: 50px;
}

div.css-recipeList > a.css-tile > img{
    outline-color: #24d95e;
}




