#profileDisplayName
{
    padding:20px;
    font-size: 42px;
    color: black;
    border-radius: 50px;
    margin: 0;
}

#profileDescription
{
    margin: 0 0 0 20px; 
    font-style:italic; 
    font-size: 26px;
}

#profileInfo{
    background-color: white;
    align-items: center;
}

#myRecipesContainer{
    width: 100%;
    min-height: 430px;
}

#recipeList{
    /* display: grid;
    grid-template-columns: auto;
    text-align: center; */
    /* display: flex;
    justify-content:left;
    align-items: flex-start;
    flex-wrap: wrap; */
    margin-left: 80px;
    margin-right: 80px;
}