#recipeContent{
    min-height: var(--innerPageContentMinHeight, 100vh);
    background-color: white;
}

#recipeContent.css-desktopVersion{
    display: grid;
    grid-template-columns: 7fr 3fr;
}

#leftSide{
    height: 100%;
}

#recipeContent.css-desktopVersion > #leftSide{
    grid-column: 1;
}

#recipeContent:not(.css-desktopVersion) > #leftSide, #mobileIngredients > #ingredients{
    border: none;
}

#recipeContent.css-desktopVersion > #ingredients{
    grid-column: 2;
    grid-row: 1;
    height: 100%;
}

#ingredients{
    text-align: center;
} 

#ingredientsList > div.css-listTile > textarea{
    text-align: left;
    margin: 10px 20px;
}

#Info{
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
    justify-content: flex-start;
}


#recipeContent:not(.css-desktopVersion) #Info > div.css-picture > img{
    width: 160px;
    height: 160px;
}


#topInfoBar{
    align-items: center;
}

#controlBtns{
    width: fit-content;
}

#preparationTime{
    font-size: 16px;
    text-align: center;
    align-items: center;
    background-color: transparent;
    height: fit-content;
    margin-right: 0;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#preparationTime > textarea{
    height: fit-content;
    font: inherit;
    font-size: 26px;
    font-weight: bold;
    transform: translateY(2px);
    background-color: transparent;
    max-width: 100px;
    width: auto;
}

#preparationTime > h2{
    font-size: 26px;
    margin: 0;
    margin-right: 20px;
}

#Info > div > textarea, #preparationTime > textarea{
    display: block;
    color: black;
    border: none;
    outline: none;
}
#Info > div > textarea:hover:not(:disabled), #preparationTime > textarea:hover:not(:disabled){
    box-shadow: 0 0 10px #1b497a;
    border-color: #0090f6;
    border-width: 3px;
}

#recipeName{
    font-size: 42px;
    margin: 0;
    font-weight: bold;
    max-height: 150px;
    width: 98%;
}

#recipeContent:not(.css-desktopVersion) #recipeName{
    font-size: 36px;
}

#recipeDescription{
    font-style:italic; 
    font-size: 26px;
    margin-top: 10px;
    max-height: 95px;
    width: 98%;
}

#recipeContent:not(.css-desktopVersion) #recipeDescription{
    font-size: 24px;
}

#instructions{
    text-align: center;
    border: none;
}

#instructionsList{
    align-items:flex-start;
    height: fit-content;
    text-align: center;
    border: none;
}

#instructions > div.css-listTile{
    width: 99%;
    text-align: left;
}

textarea:disabled{
    background-color: transparent;
}

#errorMsg, #errorMsg:hover{
    display: block;
    text-align: center;
}

img.css-imagePreview{
    outline-color: #24d95e;
}