#Settings{
    text-align: center;
    background-color: white;
}

#userInfo{
    display: inline-block;
    transform: translateX(-30px);
}

#userInfo > label.css-form.css-error{
    text-align: center;
    display: block;
}

#userInfo > div.css-labeledInput{
    justify-content: space-between;
    align-items:baseline;
}

#userInfo > div.css-labeledInput > div{
    max-width: 338px;
}
