#Settings{
    text-align: center;
    background-color: white;
}

#userInfo{
    display: inline-block;
}

#userInfo > div.css-labeledInput{
    justify-content: space-between;
    align-items:baseline;
}

#userInfo > div.css-labeledInput > div{
    max-width: 338px;
}
