#layout{
    display: grid;
    grid-template-columns: 5fr 2fr;
    min-height: 784px;
}

#leftSide{
    height: inherit;
}

#friends{
    height: inherit;
}

#friendsList{
    overflow: hidden;
}

#friendsList > div.listTile{
    align-items: center;
    max-width: 400px;
    min-width: 300px;
}

#friendsList > div.listTile > *{
    pointer-events: none;
}

#friendsList > div.listTile > div{
    align-items: center;
}

#friendsList > div.listTile > div > img{
    width: 50px;
    height: 50px;
    margin: 16px;
}

#friendsList > div.listTile > div > a{
    margin-left: 20px;
    color: inherit;
    text-decoration: none;
}
#friendsList > div.listTile > div > a:hover{
    color: inherit;
    text-decoration: underline;
}

#friendsList > div.listTile > input[type="checkbox"]{
    width: 35px;
    height: 35px;
    margin: 20px;
}

#ownedRecipes{
    border-bottom: none;
    border-left: none;
    border-right: none;
    position: relative;
    
}

#ownedRecipesList{
    border: none;
    margin-left: 40px;
    margin-right: 40px;
}

#ownedRecipesList > a.Tile{
    height: 300px;
    width: 225px;
    margin: 10px;
    
}
#ownedRecipesList > a.Tile > *{
    pointer-events: none;
}

#ownedRecipesList > a.Tile > h2
{
    font-size: 21px;
    padding: 12px;
    max-height: 90px;
}

#ownedRecipesList > a.Tile > p
{
    height: 50px;
    font-size: 15px;
}

#ownedRecipesList >  a.Tile > img{
    height: 130px;
    width: 130px;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 8px;
    outline-color: #24d95e;
}

#ownedRecipesList >  a.Tile > div.circleDetail{
    padding: 8px;
    font-size: 15px;
    margin-right: 8px;
    margin-top: 8px;
}

#options{
    text-align: center;
    font-size: 26px;
}

#options > input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

#options > label{
    display: inline-block;
    transform: translateY(-3px);
}

#controlBtns{
    position: absolute;
    right: 20px;
    text-align: center;
}

#Info{
    text-align: center;
}

#Info > label:not(.error){
    color: green;
}