@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html{
    height: 100%;
    min-width: 600px;

}

body{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-image: linear-gradient(#D7E1EC,#FFFFFF);
    /* background-image: linear-gradient(#F8EF42, #0FD64F); */
    /* background-color: rgb(201, 199, 199); */
    overflow-x: hidden;
    /* position: relative; */
    font-family: 'Ubuntu', sans-serif;
}

#pageContent{
    position:relative;
    min-height: 77.5%
}


div.header{
    /* background-image: linear-gradient(180deg, rgba(34,219,0,1) 0%, rgba(21,112,0,1) 97%, rgb(0, 0, 0) 100%); */
    background-color:#0FD64F ;
    text-align: center;
    margin-top: 0%;
    width: 100%;
    height: 100px;
    padding: 0px;

}


div.login{
    /* background-image: linear-gradient(#BBDBBE, #DEEBDD); */
    /* background-image: linear-gradient(#55D284,#F2CF07); */
    background-color: #f3f3f3;
    text-align: center;
    margin: auto;
    width: 500px;
    height: fit-content;
    padding: 0px;
    border-radius: 5%;
    margin-top: 3%;
    overflow: auto;
    max-height: 740px;
    border-style: solid;
    border-width: 1px;
    border-color: #abaaaa;

}

div.footer{
    /* background-color: transparent; */
    /* text-align: center; */
    margin-bottom: 0%;
    margin-top: 0%;
    width: 100%;
    height: 50px;



    background-color: #f3f3f3;
    text-align: center;
    /* height: fit-content; */
    padding: 0px;
    /* overflow: auto; */
    border-style: solid;
    border-width: 1px;
    border-color: #abaaaa;

}

button.form{
    border-radius: 50px;
    background-color: #0090f6;
    font-size: 32px;
    color: white;
    margin: 5%;
    border-color: transparent;
    padding: 20px;
}

div.toggleSwitch{
    background-color: #0090f6;
    border-radius: 50px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
    margin-top: 3%;
}

button.form.formSelector{
    margin: 1%;
    font-size: 26px;
    width: 50%;
}

button.form.selectedOption{
    background-color: white;
    color: black;
}

.form{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input.form{
    width: 338px;
    height: 50px;
    border-radius: 10px;
    font-size: 22px;
    margin-right: 2px;
    border-width: 1px;
    border-color: #abaaaa;
}

input.form:focus{
    outline: none !important;
    border-color: #0667ac;
    box-shadow: 0 0 10px #719ECE;
    border-width: 4px;
}

input.form.invalid{
    border-color: red;
    border-width: 4px;
}

input.form.valid{
    border-color: rgb(1, 168, 1);
    border-width: 4px;
}

label.form.error{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 5px;
    color: red;
}

.invisible{
    display: none;
}

button.disabled{
    background-image: none;
    background-color: #a1a1a1;
}

#profilePicture{
    outline: 5px solid #0f80d1;
    outline-offset: 1px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 50px;
}

div.profileInfo
{
    margin-top: 0%;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-image: linear-gradient(#3EADCF, #ABE9CD); */
    background-color: white;
}

#profileDisplayName
{
    padding:20px;
    font-size: 42px;
    color: black;
    border-radius: 50px;
    margin: 0;
}

.topNav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  

  .topNav button {
    color: black;
    text-align: center;
    width: 50%;
    height: 50px;
    font-size: 26px;
    background-color: white;
    /* border-style: none; */
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: gray;
    border-width: 1px;
    border-bottom-width: 6px;
  }

  /* .topNav button:hover {
    background-color: #ddd;
    color: black;
  } */

  .topNav button.active {
    color: #04AA6D;
    border-bottom-color: #04AA6D;
  }

  div.itemContainer
  {
    width: 100%;
    min-height: 430px;
    background-color: #f3f3f3;
    height: fit-content;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #abaaaa;
  }
