@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html{
    height: 100%;
    min-width: 600px;
}

body{
    width: auto;
    margin: 0%;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

*{
    font-family: inherit;
}

textarea{
    resize: none;
}

img{
    object-fit: cover;
}

#pageContent{
    background-image: linear-gradient(#D7E1EC,#FFFFFF);
    min-height: 100vh;
    min-height: var(--pageContentMinHeight, 100vh);
    position:relative;
}

#header{
    background-color:#0FD64F ;
    text-align: center;
    margin-top: 0%;
    margin: 0%;
    width: 100%;
    min-height: 100px;
    padding: 0px;
    position: relative;
}

#header.css-loggedIn{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}

#header.css-loggedIn > #logo{
    margin-left: 2%;
}

#searchBar{
    text-align: left;
    display: inline-block;
    margin-left: 30px;
    white-space: nowrap;
}

#searchBar > input{
    font-size: 26px;
    padding: 10px;
    margin: 0;
    max-width: 400px;
    min-width: 250px;
    width: 20vw;
    outline-color:#0667ac;
}

#searchBar > button{
    margin-left: 0;
    border-radius: 0;
    transform: translate(-5px,-0.5px);
}

div.css-footer{
    margin-bottom: 0%;
    margin-top: 0%;
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    text-align: center;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #abaaaa;
}

.css-invisible{
    display: none !important;
}

button.css-rounded, label.css-rounded{
    border-radius: 50px;
    background-color: #0090f6;
    font-size: 26px;
    color: white;
    margin: 10px;
    border-color: transparent;
    padding: 15px;
}

button.css-squared{
    border-radius: 10px;
    background-color: #0090f6;
    font-size: 26px;
    color: white;
    margin: 10px;
    border-color: transparent;
    padding: 10px;
}

button.css-rounded.css-green, button.css-squared.css-green{
    background-color: #29b841;
}

button.css-squared.css-green:hover:not(.css-disabled), button.css-rounded.css-green:hover:not(.css-disabled){
    background-color: #124e1c;
}

button.css-rounded.css-red, button.css-squared.css-red{
    background-color: #d83737;
}

button.css-squared.css-red:hover:not(.css-disabled), button.css-rounded.css-red:hover:not(.css-disabled){
    background-color: #6d1717;
}

button.css-squared:hover:not(.css-disabled), button.css-rounded:hover:not(.css-disabled), label.css-buttonLabel:hover:not(.css-disabled){
    background-color: #073f68;
}

div.css-toggleSwitch{
    background-color: #0090f6;
    border-radius: 50px;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
    margin-top: 3%;
}

div.css-toggleSwitch > button.css-rounded{
    margin: 1%;
    font-size: 26px;
    width: 50%;
}

div.css-toggleSwitch > button.css-rounded.css-selectedOption{
    background-color: white;
    color: black;
}

input.css-form{
    width: 338px;
    height: 50px;
    border-radius: 10px;
    font-size: 22px;
    margin-right: 2px;
    border-width: 1px;
    border-color: #abaaaa;
}

label.css-form{
    font-size: 22px;
}

input.css-form:focus{
    outline: none !important;
    border-color: #0667ac;
    box-shadow: 0 0 10px #719ECE;
    border-width: 4px;
}

input.css-form.css-invalid{
    border-color: red;
    border-width: 4px;
}

input.css-form.css-valid{
    border-color: rgb(1, 168, 1);
    border-width: 4px;
}

label.css-form.css-error{
    font-size: 16px;
    display: inline-block;
    margin-bottom: 5px;
    color: red;
}

button.css-disabled{
    background-image: none !important;
    background-color: #a1a1a1 !important;
}

a.css-disabled{
    pointer-events: none;
}
  
div.css-topNav > a{
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 26px;
    background-color: #0FD64F;
    border-bottom-style: solid;
    border-color: gray;
    border-width: 1px;
    border-bottom-width: 6px;
    text-decoration: none;
}

div.css-topNav > a:hover{
    background-color: #16b448;
}

div.css-topNav > a.css-active{
    border-color: #0075c9;
    color: #0075c9;
}

div.css-topNav > button {
    color: black;
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 26px;
    background-color: white;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: gray;
    border-width: 1px;
    border-bottom-width: 6px;
}


div.css-topNav > button.css-active {
    color: #04AA6D;
    border-bottom-color: #04AA6D;
}

div.css-topNav > button:hover{
    background-color: whitesmoke;
}

div.css-itemContainer{
    background-color: white;
    height: fit-content;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #abaaaa;
}

div.css-flexHorizontal{
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

div.css-flexVertical{
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

div.css-containerHeader{
    width: 100%;
    background-color: transparent;
    text-align: center;
}

div.css-listTile{
    width: 90%;
    background-color: white;
    height: fit-content;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #abaaaa;
    margin: 5px auto 0 auto;
    overflow-wrap: break-word;
    text-align: center;
    position: relative;
}

a.css-tile{
    width: 260px;
    height: 330px;
    background-color: #8b8b8ba2;
    background-image: linear-gradient(#CFD6E6,#E7EFF9);
    padding: 20px;
    padding-top: 40px;
    overflow: hidden;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: #6b76b8;
    margin: 20px;
    overflow-wrap: break-word;
    text-align: center;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
}

a.css-tile > div.css-tileInfo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #0090f6;
}

a.css-tile > h2
{
    color: black;
    display: block;
    font-size: 24px;
    margin: 0;
    padding: 15px;
    padding-top: 0;
    max-height: 120px;
    overflow: hidden;
}

a.css-tile > p
{
    color: black;
    display: block;
    height: 45px;
    font-style:italic; 
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-top: 0;
    overflow: hidden;
}

a.css-tile > img{
    max-height: 150px;
    max-width: 150px;
    object-fit: cover;
    margin: 20px;
}

a.css-tile > input[type="checkbox"]{
    position: absolute;
    left: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
}

div.css-circleDetail{
    border-radius: 50%;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: #0FD64F;
    border-width: 2px;
    border-color: #abaaaa;
}

a.css-tile > div.css-circleDetail{
    position: absolute;
    right: 10px;
    top: 20px;
}

div.css-listTile.css-expanded{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.css-listTile > div.css-expandBtnDiv{
    align-items: center;
}

div.css-listTile > div > button.css-expandButton{
    background-color: transparent;
    color: #0667ac;
    border: none;
    font-size: 40px;
    margin: 20px 0 10px 10px;
    font-weight: bold;
    height: 30px;
    line-height: 0;
}

div.css-listTile.css-expanded > div > button.css-expandButton{    
    margin-top: -10px;
}

div.css-listTile.css-listTileDetails{
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

div.css-listTile > div > button.css-deleteButton, div.css-popupHeader > button{
    color: white;
    height: 40px;
    width: 40px;
    font-size: 26px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    border: none;
    opacity: 0.7;
    line-height: 0;
}

div.css-listTile > div > button.css-deleteButton:hover, div.css-popupHeader > button:hover{
    opacity: 1;
}

div.css-listTile > div.css-deleteBtnDiv{
    right: 10px;
    height: 100%;
    align-items: center;
    position: absolute;
    text-align: center;
}

div.css-listTile > textarea, div.css-listTile > textarea:disabled, div.css-listTile > textarea:focus{
    width: 95%;
    border: none;
    outline: none;
    font-size: 22px;
    margin: 10px;
    color:black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    background-color: transparent;
}

div.css-listTile.css-listTileDetails > textarea, div.css-listTile.css-listTileDetails > textarea:disabled, div.css-listTile.css-listTileDetails > textarea:focus {
    font-size: 18px;
    margin: 20px;
}

div.css-listTile.css-editMode:hover, a.css-tile:hover, div.css-selectionTile:hover{
    box-shadow: 0 0 10px #1b497a;
    border-color: #0090f6;
    border-width: 2px;
}

img.css-roundedPicture{
    outline: 5px solid #0f80d1;
    outline-offset: 1px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 50px;
}

div.css-picture.css-editable{
    position: relative;
    /* width: 280px; */
    display: inline-block;
    margin: 50px;
}

div.css-picture.css-editable > img{
    margin: 0;
}


div.css-picture.css-editable > button.css-addPictureBtn, div.css-picture.css-editable > a > button.css-addPictureBtn{
    position: absolute;
    margin: 0;
    height: 70px;
    width: 70px;
    bottom: 0;
    right: 0;
    border-radius:50%;
    border-style: solid;
    border-color: white;
    font-size: 40px;
    line-height: 0;
}

div.css-centered{
    left: 50%;
    top: 50%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

div.css-uploadPopup{
    position: fixed;
    width: 550px;
    z-index: 10;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

div.css-uploadPopup > div.css-popupHeader{
    font-size: 30px;
    padding: 20px;
    background-color: #0FD64F;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: inherit;
    height: fit-content;
}

div.css-uploadPopup > div.css-popupBody{
    text-align: center;
    padding: 20px;
}

div.css-uploadPopup > div.css-popupBody > img.css-imagePreview{
    width: 250px;
    height: 250px;
}


div.css-fileSelector{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: solid #7c7c7c 1px;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
    max-width: 100%;
}

div.css-fileSelector > p{
    display: inline-block;
    margin: 0;
    max-width: 80%;
    overflow:hidden;
    transform: translateY(5px);
    padding-right: 20px;
}

div.css-fileSelector > button{
    margin: 0 10px 0 0;
    font-size: 20px;
}

div.css-fileSelector > label{
    margin: 0 10px 0 0;
    font-size: 20px;
    display: inline-block;
}

div.css-backgroundOverlay{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: black;
    opacity: 0.5;
}

img.css-greenOutline{
    outline-color: #24d95e;
}